
{% extends "layout.html" %}
{% block body %}

<script src='/static/bower_components/tagmanager/tagmanager.js'></script>
<link rel="stylesheet" type="text/css" href="/static/bower_components/tagmanager/tagmanager.css" />

<!--I want to use this to monitor the textarea as text is entered into it, and parse out
tags, usernames, dates, and other info automatically in real time to populate the other
fields. This should lead to a potential workflow that requires no clicking, just typing
the activity string into the text area and hitting enter to bring up the next activity box-->
<script>

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

var lastVal = "";
var config = null;

$( document ).ready(function() {

  $.getJSON($SCRIPT_ROOT + '/_config', null, function(data) {
    console.log('Got config: ' + JSON.stringify(data));
    config = data;
  });

  var tagApi = $("#tm-tags").tagsManager();
  var userTagApi = $("#tm-users").tagsManager();
  var catTagApi = $("#tm-categories").tagsManager();
  var dateTagApi = $("#tm-date").tagsManager({maxTags: 1});

  var userRE = /(@\w+)/ig
  var tagsRE = /(#\w+)/ig
  var dateRE = /([\d][\d]*\/[\d][\d]*\/[\d][\d][\d\d]?)/ig

  $("#activity").on("change keyup paste", function() {
    var currentVal = $(this).val();
    if(currentVal == lastVal) {
      return; //check to prevent multiple simultaneous triggers
    }

    console.log('Categories: ' + JSON.stringify(config.categories));

    lastVal = currentVal;

    // empty existing
    userTagApi.tagsManager('empty');
    tagApi.tagsManager('empty');
    catTagApi.tagsManager('empty');
    dateTagApi.tagsManager('empty');

    //action to be performed on textarea changed
    console.log(lastVal);

    // find user tags in string
    var users = lastVal.match(userRE);

    if(users) {
      console.log('Found users! : ' + users);
      users.forEach(function(user) {
        userTagApi.tagsManager('pushTag',user.split('@')[1]);
      });
    }

    // find hash tags in string
    var tags = lastVal.match(tagsRE);

    if(tags) {
      var tag = null;
      console.log('Found tags! : ' + tags);
      tags.forEach(function(tag) {
        tag = tag.split('#')[1];

        console.log('tag: ' + tag + ' = ' + $.inArray(tag, config.categories));

        // check to see if hashtag is a known category tag
        if($.inArray(tag, config.categories) >= 0) {
          catTagApi.tagsManager('pushTag',tag);
        }
        else {
          tagApi.tagsManager('pushTag',tag);
        }
      });
    }

    // find date in string
    var dateStr = lastVal.match(dateRE);

    if(dateStr) {
        console.log('Found date! : ' + dateStr[0]);

        // validate date string
        var date = checkDate(dateStr[0]);
        if (date) {
            console.log('Date is valid!');
            dateTagApi.tagsManager('pushTag',date);
        }
    }

  });

});

/* This funciton assumes the date has already passed a regex that
  determined proper numeric/string form. This just checks whether
  the date is a real calendar date.

  Code adapted from: http://stackoverflow.com/a/10263258/359005

  Returns a date object if date is valid, returns null if not
  */
function checkDate(dateStr) {
    var parts = dateStr.toString().split('/');

    // create date object
    var month = parseInt(parts[0], 10);
    var day = parseInt(parts[1], 10);
    var year = parseInt(parts[2], 10);
    var date = new Date(year, month - 1, day);
    if (!date || !date.getTime()) return;

    // check validity
    if (date.getMonth() + 1 != month ||
        date.getFullYear() != year ||
        date.getDate() != day) {
        return;
    }
    return date;
}

function updateConfig() {
  console.log('Posting...');
  $.post($SCRIPT_ROOT + '/_config',
         JSON.stringify(config),
         function(data) {
           console.log('Posted. response: ' + JSON.stringify(data));
         },
         "json");
}

</script>

<form class="form" role="form">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Activity </span>
            <textarea id="activity" type="text" class="form-control" placeholder="Activity Description" autofocus></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" name="tm-tags" placeholder="Add a Tag..." id="tm-tags" class="tm-input input-medium tm-input-info"/>
            <input type="text" name="tm-users" placeholder="Add a User..." id="tm-users" class="tm-input input-medium tm-input-success"/>
            <input type="text" name="tm-categories" placeholder="Add a Category..." id="tm-categories" class="tm-input input-medium tm-input-warning"/>
            <input type="text" name="tm-date" placeholder="Add a date..." id="tm-date" class="tm-input input-medium tm-input-error"/>
        </div>
    </div>
</form>

{% endblock %}
