
{% extends "layout.html" %}
{% block body %}

<script src='/static/bower_components/tagmanager/tagmanager.js'></script>
<link rel="stylesheet" type="text/css" href="/static/bower_components/tagmanager/tagmanager.css" />

<!--I want to use this to monitor the textarea as text is entered into it, and parse out
tags, usernames, dates, and other info automatically in real time to populate the other
fields. This should lead to a potential workflow that requires no clicking, just typing
the activity string into the text area and hitting enter to bring up the next activity box-->
<script>

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

var lastVal = "";
var config = null;

$( document ).ready(function() {

  /** Initialization **/

  $.getJSON($SCRIPT_ROOT + '/_config', null, function(data) {
    config = data;
  });

  var tagApi = $("#tm-tags").tagsManager();
  var userTagApi = $("#tm-users").tagsManager();
  var catTagApi = $("#tm-categories").tagsManager();
  var dateTagApi = $("#tm-date").tagsManager({maxTags: 1});

  var userRE = /(@\w+)/ig
  var tagsRE = /(#\w+)/ig
  var dateRE = /([\d][\d]*\/[\d][\d]*\/[\d][\d][\d\d]?)/ig


  /** Event Methods **/

  $("#activity").on("change keyup paste", function() {
    var currentVal = $(this).val();
    if(currentVal == lastVal) {
      return; //check to prevent multiple simultaneous triggers
    }

    lastVal = currentVal;

    // empty existing
    userTagApi.tagsManager('empty');
    tagApi.tagsManager('empty');
    catTagApi.tagsManager('empty');
    dateTagApi.tagsManager('empty');

    // find user tags in string
    var users = lastVal.match(userRE);

    if(users) {
      users.forEach(function(user) {
        userTagApi.tagsManager('pushTag',user.split('@')[1]);
      });
    }

    // find hash tags in string
    var tags = lastVal.match(tagsRE);

    if(tags) {
      var tag = null;
      tags.forEach(function(tag) {
        tag = tag.split('#')[1];

        // check to see if hashtag is a known category tag
        if($.inArray(tag, config.categories) >= 0) {
          catTagApi.tagsManager('pushTag',tag);
        }
        else {
          tagApi.tagsManager('pushTag',tag);
        }
      });
    }

    // find date in string
    var dateStr = lastVal.match(dateRE);

    if(dateStr) {
        console.log('Found date! : ' + dateStr[0]);

        // validate date string
        var date = checkDate(dateStr[0]);
        if (date) {
            dateTagApi.tagsManager('pushTag',date);
        }
    }

  });

  // Set listener for enter key press in activity text field
  $('#activity').keydown(function (e){
    if(e.keyCode == 13){
      // submit form
      $('.form').submit();

      // move data from form into backgrouns display of submitted activities
      // TODO

      // clear form and reset focus
    }
  });

  // set up async form submit
  $('.form').submit(function(event) {
      console.log('Saving activity...');

      var $form = $(this);
      var data = $form.serialize();

      console.log('post data: ' + data);

      $.post($form.attr('action'),data).done( function(data, status) {
        console.log('Submitted form!');
      });

      event.preventDefault();
  });

});

/**
 * checkDate()
 *
 * This funciton assumes the date has already passed a regex that
 * determined proper numeric/string form. This just checks whether
 * the date is a real calendar date.
 *
 * Code adapted from: http://stackoverflow.com/a/10263258/359005
 *
 * Returns a date object if date is valid, returns null if not
 */
function checkDate(dateStr) {
    var parts = dateStr.toString().split('/');

    // create date object
    var month = parseInt(parts[0], 10);
    var day = parseInt(parts[1], 10);
    var year = parseInt(parts[2], 10);
    var date = new Date(year, month - 1, day);
    if (!date || !date.getTime()) return;

    // check validity
    if (date.getMonth() + 1 != month ||
        date.getFullYear() != year ||
        date.getDate() != day) {
        return;
    }
    return date;
}

/**
 * updateConfig()
 *
 * Send an ajax post to the server with the client's current config dict, which
 * may contain new values fo rusers, tags, or categories. The server will accept
 * this data and update the global config to add (not delete) to these lists
 * based on any new values.
 */
function updateConfig() {
    console.log('Posting...');
    $.ajax({
        url: $SCRIPT_ROOT + '/_config',
        type: "POST",
        data: JSON.stringify(config),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(res){
          console.log('Posted. response: ' + JSON.stringify(res));
        }
    }).fail(function( jqXhr, textStatus, errorThrown ){ console.log( 'POST error: ' + errorThrown ); });
}

</script>

<form class="form" role="form" action="/activities" data-async method="POST">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Activity </span>
            <textarea id="activity" name="activity" type="text" class="form-control" placeholder="Activity Description" autofocus></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" name="tm-tags" placeholder="Add a Tag..." id="tm-tags" class="tm-input input-medium tm-input-info"/>
            <input type="text" name="tm-users" placeholder="Add a User..." id="tm-users" class="tm-input input-medium tm-input-success"/>
            <input type="text" name="tm-categories" placeholder="Add a Category..." id="tm-categories" class="tm-input input-medium tm-input-warning"/>
            <input type="text" name="tm-date" placeholder="Add a date..." id="tm-date" class="tm-input input-medium tm-input-error"/>
        </div>
    </div>
</form>

{% endblock %}
