
{% extends "layout.html" %}
{% block body %}

<script src='/static/bower_components/tagmanager/tagmanager.js'></script>
<script src='/static/bower_components/moment/moment.js'></script>
<link rel="stylesheet" type="text/css" href="/static/bower_components/tagmanager/tagmanager.css" />

<script>
var lastVal = "";

$( document ).ready(function() {

  /** Initialization **/

  // get config, store
  $.getJSON($SCRIPT_ROOT + '/api/config', null, function(data) {
    setConfig(data);
  });

  // configure tag system
  registerTagFields($("#tm-tags"), $("#tm-users"), $("#tm-categories"), $("#tm-date"));

  /** Event Methods **/

  $("#activity").on("change keyup paste", function() {
    var currentVal = $(this).val();

    if(currentVal == lastVal) {
      return; //check to prevent multiple simultaneous triggers
    }

    lastVal = currentVal;

    // empty existing
    clearTags();

    // find user tags in string
    parseUsers(lastVal);

    // find hash tags in string
    parseHashTags(lastVal);

    // find date in string
    parseDate(lastVal);


  });

  // TODO: For now, updating displayed list on enter. I'd like to make this
  // fully dynamic, detecting a change in tags and updating then.
  // Set listener for enter key press in activity text field
  $('#activity').keydown(function (e) {
    if(e.keyCode == 13){
      e.preventDefault();
      updateActivityList();
    }
  });

});

function updateActivityList() {

    data = {
        'tags': $('[name=hidden-tm-tags]').val().split(','),
        'users': $('[name=hidden-tm-users]').val().split(','),
        'categories': $('[name=hidden-tm-categories]').val().split(','),
    }

    $.ajax({
        url: $SCRIPT_ROOT + '/api/activities',
        type: "POST",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(res){
            console.log('Received activity data: ' + JSON.stringify(res.activities));
//            console.log('type: ' + typeof res.activities);
            displayActivities(res);
        }
    }).fail(function( jqXhr, textStatus, errorThrown ){ console.log( 'Error searching activity data: ' + errorThrown ); });
}

function displayActivities(data) {
    clearActivityDisplay();
    
    console.log('Received activity data: ' + JSON.stringify(data.activities));
    console.log('Type: ' + typeof data.activities);
    data.activities.forEach(function(item) {
        $('#activities').append('<pre>' + item.message + '</pre>');
    });
}

function clearActivityDisplay() {
    $('#activities').empty();
}

</script>

<form class="form" role="form" action="/activities" data-async method="POST">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search"> </span>
            <input id="activity" name="activity" type="text" class="form-control" placeholder="Enter tags to filter activities..." autofocus></input>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="col-md-3">
                <input hidden="true" type="text" name="tm-tags" placeholder="Add a Tag..." id="tm-tags" class="tm-input input-medium tm-input-info"/>
            </div>
            <div class="col-md-3">
                <input hidden="true" type="text" name="tm-users" placeholder="Add a User..." id="tm-users" class="tm-input input-medium tm-input-success"/>
            </div>
            <div class="col-md-3">
                <input hidden="true" type="text" name="tm-categories" placeholder="Add a Category..." id="tm-categories" class="tm-input input-medium tm-input-warning"/>
            </div>
            <div class="col-md-3">
                <input hidden="true" type="text" name="tm-date" placeholder="Add a date..." id="tm-date" class="tm-input input-medium tm-input-error"/>
            </div>
        </div>
    </div>
</form>

<div style="margin-top:60px;">
  <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Activities</h3>
          </div>
          <div class="panel-body" id="activities"></div>
        </div>
      </div>
      <div class="col-md-4 well">
        <span>Statistics</span>
      </div>
  </div>
</div>

{% endblock %}
