
{% extends "layout.html" %}
{% block body %}

<script src='/static/bower_components/tagmanager/tagmanager.js'></script>
<script src='/static/bower_components/moment/moment.js'></script>
<link rel="stylesheet" type="text/css" href="/static/bower_components/tagmanager/tagmanager.css" />

<script>

</script>

<form class="form" role="form" action="/activities" data-async method="POST">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search"> </span>
            <input id="activity" name="activity" type="text" class="form-control" placeholder="Enter tags to filter activities..." autofocus></input>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="col-md-3">
                <input hidden="true" type="text" name="tm-tags" placeholder="Add a Tag..." id="tm-tags" class="tm-input input-medium tm-input-info"/>
            </div>
            <div class="col-md-3">
                <input hidden="true" type="text" name="tm-users" placeholder="Add a User..." id="tm-users" class="tm-input input-medium tm-input-success"/>
            </div>
            <div class="col-md-3">
                <input hidden="true" type="text" name="tm-categories" placeholder="Add a Category..." id="tm-categories" class="tm-input input-medium tm-input-warning"/>
            </div>
            <div class="col-md-3">
                <input hidden="true" type="text" name="tm-date" placeholder="Add a date..." id="tm-date" class="tm-input input-medium tm-input-error"/>
            </div>
        </div>
    </div>
</form>



<div style="margin-top:60px;">
  <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Activities</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class="col-md-4 well">
        <span>Statistics</span>
      </div>
  </div>
</div>


<!--
<div class="container">
  <div class="row">
    <div class="col-md-12 btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Today</button>
      <button type="button" class="btn btn-default">This Week</button>
      <button type="button" class="btn btn-default">This Month</button>
    </div>
  </div>
  <div class="row">
    <form class="form" role="search">
      <div class="form-group">
        <div class="input-group">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <input id="search" name="search" type="text" placeholder="Enter tags to search..." autofocus></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 well"></div>
  </div>
</div>
-->
{% endblock %}
